/* Default background for larger screens (desktop/tablet) */
.hero-background {
    background-image: url('../images/desktopImage.png');
    background-size: cover;
    background-position: center;
  }
  
  /* Background for mobile devices */
  @media only screen and (max-width: 700px) {
    .hero-background {
      background-image: url('../images/mobileImage1.png'); /* Use any other mobile-specific image */
    }
  }
  